@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$theme-color: #1da1f2;
$subtheme-color: aliceblue;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin twitter_btn {
  background: $theme-color;
  color: white;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: min-content;
  &:hover {
    background-color: #1287e0;
  }
}

/* universal */

body {
  padding-top: 60px;
}

.col-md-3 {
  margin-right: 10px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.samplebtn {
  @include twitter_btn;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-inverse .navbar-nav li a.btn {
  @include twitter_btn;
  margin-top: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 20px;
  span {

    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.search_form {
  overflow: auto;
  margin: 10px;
  float: right;
  .input-group {
    width: 300px;
    .form-control {
      width: 250px;
    }
    .btn {
      width: 50px;
    }
  }
}

.btn-follow {
  @include twitter_btn;
  background-color: white;
  border: 1px solid $theme-color;
  color: $theme-color;
  &:hover {
    color: $theme-color;
    background-color: $subtheme-color;
  }
}

.btn-unfollow {
  @include twitter_btn;
  width: 100px;
  &:hover {
    color: white;
    background-color: #e0245e;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    position: relative;
    z-index: 1;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    .micropost-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-indent:-999px;
      z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
    }
    .inlink {
      position: relative;
      z-index: 3;
    }
    .glyphicon-trash {
      position: relative;
      z-index: 3;
      color: black;
    }
    &:hover {
      background-color: $subtheme-color;
      cursor: pointer;
    }
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.new_micropost {
  background-color: #e5f1ff;
  padding: 20px;

  input#micropost_picture {
    width: min-content;
  }

  .btn {
    @include twitter_btn;
    float: right;
  }

  textarea {
    height: 100px;
    border-radius: 8px;
    border: 2px solid #5d92bf;
  }
}

.modal-content {
  .microposts {
    padding: 30px;
  }
  .gravatar {
    margin-left: 10px;
  }

  .user {
    font-size: 25px;
  }

  .content {
    font-size: 25px;
  }

  #follow_form {
    width: 80px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
  }

  .new_micropost {
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid #5d92bf;
  }

  h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* comments */

.comments {
  list-style: none;
  padding-inline-start: 15px;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .user {
    font-size: 15px;
  }

  .content {
    display: block;
    font-size: 15px;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.comment_form {
  background-color: $subtheme-color;
  padding: 12px;
  .gravatar {
    float: none;
    margin: 0;
  }

  .field {
    width: 90%;
    float: right;
  }

  input {
    width: 80px;
    float: right;
  }

  .btn {
    @include twitter_btn;
  }
}
